*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: "aldisud";
    src: url(font/ALDISUEDBold.woff2) format("woff2");
    
}
body {
    font-family: "aldisud";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3b93f8;
    color: #e4e4ff;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    padding-top: 15px;
}


#imageCon {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: #6dd6ff;
    border: none;
    border-radius: 15px;
    border-radius: 15px;
}

#image {
    width: 100%;
    border: none;
}

#inputCon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#appContainer {
    text-align: center;
}

#userInput{
    appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #3b93f8;
	background: rgba(#ffffff, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #000000;
    text-align: center;
    height: 100%;
    width: 50%;
    font-size: 16px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#userSend {

    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    :hover{
        background: rgba(0,118,255,0.9);
        box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
    }
    
}